<!DOCTYPE html>
<html>
  <head>
    <title>Tiny App</title>
  </head>
  <body>
    <% include partials/_header.ejs %>
    <h1>ShortURL: <%= shortURL %></h1>
    <form action="/urls/<%= shortURL %>?_method=PUT" method="POST" style="display: inline-block">
      <label>
        <input type="text" name="update_input" size="40" value="<%= bigURL %>">
        <input type="submit" value="Update URL">
      </label>
    </form>
    <form action="/urls/<%= shortURL %>/delete?_method=DELETE" method="post" style="display: inline-block" >
      <input type="submit" value="X" />
    </form>
    <div>Date Created: <span id="created-date"><%= dateCreated %></span> | Unique Visitors: <%= uCount %></div>
    <table>
      <tr>
        <th>USER ID</th><th>Visited Date</th>
      </tr>
        <% for(let i = 0; i < stats.length; ++i) { %>
       <tr><td><%= stats[i].userID %></td><td><span class="user-timestamp"><%= stats[i].timestamp %></span></td></tr>
      <% } %>
    </table>
    <script>
      (function() {
        var dateSpan = document.getElementById("created-date");
        var unix = dateSpan.innerHTML;
        var theDate = new Date(Number(unix));
        var formatted = `${theDate.getFullYear()}-${theDate.getMonth()}-${theDate.getDay()} ${theDate.getHours()}:${theDate.getMinutes()}`
        dateSpan.innerHTML = formatted;

        var userTimestamps = document.getElementsByClassName("user-timestamp");
        for(var time of userTimestamps) {
          var unix = time.innerHTML;
          var theDate = new Date(Number(unix));
          var formatted = `${theDate.getFullYear()}-${theDate.getMonth()}-${theDate.getDay()} ${theDate.getHours()}:${theDate.getMinutes()}`
          time.innerHTML = formatted;
        }

      })(); 
    </script>
  </body>
</html>