<!DOCTYPE html>
<html>
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include partials/_header.ejs %>
    <% if(typeof urlDatabase !== "undefined" && urlDatabase.length > 0) { %>
    <h2><a href="/urls/new">Create a New Short Link</a></h2>
      <table>
        <tr>
          <th>tinyURL</th>
          <th>URL Link</th>
          <th>Edit</th>
          <th>Delete</th>
          <th>Date Created</th>
          <th>No. of Visits</th>
          <th>Unique Visitors</th>
        </tr>
    <% for(let urlObj of urlDatabase) { %>
        <tr>
          <td><%= urlObj.shortURL %></td>
          <td><%= urlObj.longURL %></td>
          <td><a href="/urls/<%=urlObj.shortURL %>"><button>Edit</button></a></td>
          <td>
            <form action="/urls/<%= urlObj.shortURL %>/delete?_method=DELETE" method="POST">
              <input type="submit" name="delete_input" value="X">
            </form>
          </td>
          <td><span class="visit-date"><%= urlObj.dateCreated %></span></td>
          <td style="text-align: right"><%= urlObj.stats.length%></td>
          <td style="text-align: right"><%= urlObj.numUniqueVisits %></td>
        </tr>
    <% } %>
    </table>
    <% }else if(userLoggedIn) {%>
      <h3>Hey, you should get some URLs linked to by <a href="/urls/new">Creating a New Short Link</a></h3>
    <% } else {%>
      <h3>Sorry - you must <a href="/register">Sign Up</a> or <a href="/login">Log In</a> to use TinyURL</h3>
    <% } %>
    <script>
      (function() {
        var dateSpans = document.getElementsByClassName("visit-date");
        console.log(dateSpans);
        for(let span of dateSpans) {
          var unix = span.innerHTML;
          var formatted = new Date(Number(unix));
          span.innerHTML = formatted;
        }
      })(); 
    </script>
  </body>
</html>
