<!DOCTYPE html>
<html>
  <head>
    <title>Tiny App</title>
  </head>
  <body>
    <% include partials/_header.ejs %>
    <h1>ShortURL: <%= shortURL %></h1>
    <form action="/urls/<%= shortURL %>?_method=PUT" method="POST" style="display: inline-block">
      <label>
        <input type="text" name="update_input" size="40" value="<%= bigURL %>">
        <input type="submit" value="Update URL">
      </label>
    </form>
    <form action="/urls/<%= shortURL %>?_method=DELETE" method="post" style="display: inline-block" >
      <input type="submit" value="X" />
    </form>
    <div>Date Created: <%= Date(dateCreated) %> | Unique Visitors: <%= uCount %></div>
    USER ID \t Visited Date
    <% for(let i = 0; i < stats.length; ++i) { %>
      <%= stats[i].userID \t stats[i].timestamp %>
    <% } %>
  </body>
</html>